<%- include('head') %>

<!-- FOOTER -->
<footer class="bottom-menu bottom-menu-inverse">
<div class="fcontainer">
    <div class="cwm-social-icons">
    <a href="" target="_blank"><i class="fab facebook footer-social-icon fa-facebook icon"></i></a>
    <a href=""><i class="fab instagram footer-social-icon fa-instagram icon"></i></a>
    <a href=""><i class="fab linkedin footer-social-icon fa-linkedin icon"></i></a>
    <a href=""><i class="fab github footer-social-icon fa-github icon"></i></a>
    <a href="mailto: seanlayones@gmail.com"><i class="fa gmail footer-social-icon fa-envelope icon"></i></a>
    </div>
    <div class="row">
        <p class="p">
        &copy;2024 <br> Developed by Sean Jerome Layones
        </p>
    </div>
</div>
</footer>


