<div class="modal fade" id="viewItemModal" tabindex="-1" aria-labelledby="viewItemModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="viewItemModalLabel">Item Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p><strong>Item ID:</strong> <span id="viewItemIDnum"></span></p>
                <p><strong>ID:</strong> <span id="viewItemID"></span></p>
                <p><strong>Name:</strong> <span id="viewItemName"></span></p>
                <p><strong>Category:</strong> <span id="viewItemCategory"></span></p>
                <p><strong>Quantity:</strong> <span id="viewItemQuantity"></span></p>
                <p><strong>Price:</strong> $<span id="viewItemPrice"></span></p>
                <p><strong>Description:</strong> <span id="viewItemDescription"></span></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
